body{
    display:flex;
    justify-content: center;
}
.container{
    width:200px;
    height:300px;
    border-width: 40px;
    border-color: black;
    margin-left: 140px;
}
.img{
    width:200px;
    height:300px;
}
.photos{
    display:flex;
    width:800px;
    height:300px;
    margin-left: 140px;
    transition: margin 700ms;
}
.BtnCon{
    margin-top: 350px;
    margin-right: 200px;
}
.dot {
  height: 55px;
  width: 55px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-top:430px;
}
.dotsCon{
  margin-left:-340px;
  height:60px;
}