body{
    display:flex;
    justify-content: center;
}
.container{
    width:200px;
    height:300px;
    border-width: 40px;
    border-color: black;
    margin-left: 140px;
}
.img{
    width:200px;
    height:300px;
}
.photos{
    display:flex;
    width:800px;
    height:300px;
    margin-left: 140px;
}
.BtnCon{
    margin-top: 350px;
    margin-right: 200px;
}